
@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SUIT-SemiBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body{
    margin:0;
    padding:0;
    font-family: 'SUIT-SemiBold';

}

div {
font-family:'SUIT-SemiBold';
line-height: 1.6;
}

.hd-navbar {
    display: flex;``
    align-items: center;
    background-color: #00796b;
    padding: 8px 12px;
    margin 0 30px;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* navbar start===================================== */
.navbar a {
    text-decoration: none;
}

/* Nav style */
.navbar_logo a, i{
   padding-right: 8px;
   color: #F9F871;
}
.navbar_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    font-family: 'SUIT-SemiBold', sans-serif;
}
.navbar_menu li {
    padding:8px;
}
.navbar_menu a {
    color: #ffffff;
}

.navbar_menu a:hover{
    background-color:#F9F871;
    color: #00796b;
    border-radius: 4px;
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav_end {
    list-style: none;
    padding: 8px 12px;
    display:flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
.nav_end i{
    color: #ffffff;
    padding: 5px;
}
/* navbar end===================================== */

/*=====================main section===================*/
.section1{
    margin:0px auto;
    padding: 0;
    height:600px;
    background: url('/image/community.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
c
}
.sec1_wrap{
    position:absolute;
    top:20%;
    left:15%;
    animation: slide 1.5s ease-out;
}
.sec1_slogan{
    font-size: 3em;
    width:400px;
    height:400px;
    color:white;
    font-family: 'Do Hyeon', 'sans-serif';
}
.sec1_info {
    font-size: 1.5em;
    width:350px;
    color:white;
    font-family: 'Do Hyeon', 'sans-serif';
}
.sec1_info a {
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
    color: white;
    background-color: red;
    text-decoration: none;
}

@keyframes slide{
    from {
        left:-200px;
        opacity: 0;
    }
    to {
        left :15%;
        opacity: 1;
    }
}
.section2{
    font-family: '맑은고딕';
    color:white;
    margin:0 auto;
    background-color:rgb(8, 179, 209);
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:20px;
}
.sec_logo{
    font-size: 3em;
    width: 180px;
    text-align: center;
    color:white;
    padding-right:20px;
}
.sec2_title2{
    padding:10px;
    border-top:0.5px white;
}
.sec2_title a {
    border:purple solid 2px;
    text-decoration:none;
    padding:7px 15px;
    margin: 5px;
    color :rgb(245, 245, 215);
    border-radius: 3px;
}

/* section end===================================== */

/* user detail */
.card{
margin: 30px 0px;
}


/* loginForm, joinForm, updateForm */

.form-grouping {
	margin:20px 0;
	}
	
	.form-grouping-login, .form-grouping-save {
	margin-top: 60px;
	}
	
	.login_wrap, .join_wrap, .user_update {
		padding: 40px 40px;
		margin: 20px auto;
		width: 500px;
		border: none;
		margin: 20px auto;
		border-radius: 4px;
	}
	
	.login_wrap > h2, .join_wrap > h2, .user_update > h2 {
	margin-bottom: 50px;
	text-align: center;
	font-family: 'GmarketSansBold';
	font-weight: 600;
	color: #00796b;
	}
	
	.form-grouping > h5, .form-grouping > h6 {
	text-align: center;
	font-family: 'GmarketSansBold';
	}
	
	.form-grouping > h5 > a {
	color: #1b0000;
	text-decoration: none;
	}
	
	.form-grouping > h6 > a {
			color: #1b0000;
			text-decoration: none;
	}
	
	.form-grouping > h5 > a:hover, .form-grouping > h6 > a:hover {
			color: #4ebaaa;
	}
	
	.form-group > label {
			margin: 10px 0;
			font-size: 15px;
			font-weight: lighter;
	}
	
	.form-group > #red {
			color: #8e0000;
	}
	
	#btn_kakaoLogin {
		height: 38px;
		margin: 10px 0px;
		width: 100%;
		border: none;
		color: black;
		background: #ffe621;
		}
	
	#btn-save {
			height: 38px;
		margin: 10px 0px;
		width: 100%;
		border: none;
		background: rgb(169,208,204);
			background: linear-gradient(90deg, rgba(169,208,204,1) 76%, rgba(255,255,255,1) 100%);
	}
	
	#btn-login {
			height: 38px;
			margin: 10px 0px;
			width: 100%;
			border: none;
			background: rgb(169,208,204);
			background: linear-gradient(90deg, rgba(169,208,204,1) 76%, rgba(255,255,255,1) 100%);
	}
	
	#userUpdate_btn_wrap {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	
	#btn-update, #btn-back {
			width: 40%;
			height: 38px;
		margin: 0px 10px;
		padding: 0 60px;
		color: white;
		border: none;
		background: rgb(169,208,204);
			background: linear-gradient(90deg, rgba(169,208,204,1) 76%, rgba(255,255,255,1) 100%);
			}
	
	#btn-update:hover, #btn-save:hover, #btn_kakaoLogin:hover {
	color: #004c40;
	}
	
	#btn-login:hover {
	background: rgb(135,167,164);
	background: linear-gradient(90deg, rgba(135,167,164,1) 76%, rgba(255,255,255,1) 100%);
	}
	
	#btn-back:hover {
	color: #48a999;
	}
	
	
	
	/* list,  */
	
	.post-wrap >h2, #list_searchWrap >h2 {
			margin: 50px 20px;
			font-family: 'GmarketSansBold';
			font-weight: 600;
			color: #00796b;
	}
	
	th {
		font-size: 14px;
		text-align: center;
	}
	
	table {
		font-family: 'SUIT-SemiBold';
	}
	
	table > thead {
			text-align: center;
			font-family: 'GmarketSansBold';
			color: black;
	}
	
	#titleCss {
			font-family: 'SUIT-SemiBold';
			font-weight: 600;
			text-decoration: none;
			color: black;
	}
	
	#titleCss:hover {
	color : #00796b;
	}
	
	#post-btn {
	padding: 5px 20px;
	border: none;
	font-family: 'SUIT-SemiBold';
	background: rgb(169,208,204);
	background: linear-gradient(90deg, rgba(169,208,204,1) 76%, rgba(255,255,255,1) 100%);
	}
	
	#search-btn {
	padding: 5px 20px;
	border: none;
	font-family: 'SUIT-SemiBold';
	background-color: #b2dfdb;
	}
	
	ul > li > .page-link {
	background: #9ccc65;
	
	}
	
	#post-btn:hover {
	background: rgb(135,167,164);
	background: linear-gradient(90deg, rgba(135,167,164,1) 76%, rgba(255,255,255,1) 100%);
	color: black;
	}
	
	#search-btn:hover {
	color:black;
	background:#82ada9;
	}
	
	ul > li > .page-link:hover {
	color:white;
	}
	
	#btn-savePost {
			text-align: center;
			height: 38px;
		margin: 50px 0px;
		width: 50%;
		border: none;
		background: rgb(169,208,204);
			background: linear-gradient(90deg, rgba(169,208,204,1) 76%, rgba(255,255,255,1) 100%);
	}
	
	#list_writeBtn{
		margin: 30px 0px;
	}
	#list_searchWrap{
		margin: 20px 0px;
	}
	.board_name, .board_Date {
		width: 200px;
	}
	
	.board_title {
		width: 600px;
	}
	
	.board_detail_container {
		padding: 20px;
		border: 1px solid #e5e5e5;
	}
	
	.board_top_btnWrap {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #efefef;
		padding-bottom: 20px;
	}
	
	.profile_info {
		color: #666;
		font-weight: 500;
		font-size: 13px;
	}
	
	.detail_title {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	
	.reply_container>.list-group>li {
		border: none;
		background-color: rgba(0, 0, 0, .00);
	}
	
	.reply_container {
		padding: 25px 0px;
		background-color: rgba(0, 0, 0, .03);
	}
	
	#reply-content {
		margin: 12px auto;
		width: 97%;
	}
	
	.reply_saveBtnCon {
		display: flex;
		justify-content: end;
		margin: 0px 20px;
	}


#btn-update:hover, #btn-login:hover, #btn-save:hover, #btn_kakaoLogin:hover {
color: #004c40;
}

#btn-back:hover {
color: #48a999;
}



/* board */
th {
font-size: 14px;
text-align: center;
}

table {
font-family: Arial, "Malgun Gothic", "맑은 고딕", system-ui, -apple-system,
	AppleSDGothicNeo-Regular, Helvetica, sans-serif;
}

#list_writeBtn{
margin: 30px 0px;
}
#list_searchWrap{
margin: 20px 0px;
}
.board_name, .board_Date {
width: 200px;
}

.board_title {
width: 600px;
}

.board_detail_container {
padding: 20px;
border: 1px solid #e5e5e5;
}

.board_top_btnWrap {
display: flex;
justify-content: space-between;
border-bottom: 1px solid #efefef;
padding-bottom: 20px;
}

.profile_info {
color: #666;
font-weight: 500;
font-size: 13px;
}

.detail_title {
padding-top: 20px;
padding-bottom: 30px;
}

.reply_container>.list-group>li {
border: none;
background-color: rgba(0, 0, 0, .00);
}

.reply_container {
padding: 25px 0px;
background-color: rgba(0, 0, 0, .03);
}

#reply-content {
margin: 12px auto;
width: 97%;
}

.reply_saveBtnCon {
display: flex;
justify-content: end;
margin: 0px 20px;
}

/*====footer start================*/
.main_footer {
      height: 150px;
      position : relative;
      bottom : 0;
      padding: 10px;
      background:black;
      text-align: center;
      margin-top: 24px;
      font-family:'Malgun Gothic';
      color: white;

}
